body {
	background-image: url('Back6.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;    
    padding: 3em;
    position: relative;
   
   
    
}
h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
        text-shadow: 2px 2px 5px blue;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: WHITE;
        text-shadow: 2px 2px 5px BLUE;
}
h3 {
	font-family: Arial;
	font-weight: bold;
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
        text-shadow: 2px 2px 5px BLUE;
}



img {
	float: left;
	width: 500px;
    height: 500px;
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

#texto {
  
margin-left: 10px;  
text-align: left;
width: 900px;
font-size:20px;

}

#separador {
    width: 100%; 
    border-top: 5px solid #000;
    list-style-type: none;
    margin-top:300px;
}
#header {
        height: 50px;
	width: 100% ;
	position: relative;
	top: -78px;
	background-color: black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


#L {
  
  
  width:500px;
  margin-left:5px;
  margin-top:15px;
  float:left;
  padding: 4px;
}



#C {
  
  text-align: justify;
  width:500px;
  margin-left:180px;
  margin-top:15px;
  float:center;
  padding: 4px;
	
}

.container img {
    width:1000px;
    height:200px;
    margin-top:5px;
    
}


.B1{
	
	float:left;
	position: relative;
	left: 5%;
	bottom: -10px;
	border-radius: 10px;
	background-color: 
	height: 20px;
	width: auto;
	display: inline;
        margin-left:5px;
}
.B1:hover { 
background:white;

}
#footer{
    clear:both;
	position: relative;
	bottom: -50px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 50px;
	background-color: black;
}




.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
	color: #ffffff;
}

#ia {
	width: 100%;
	height: 100%;
}
