body {
	background-image: url('Back6.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;    
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
}

#header {
    position: relative;
    top: -78px;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    text-shadow: 2px 2px 5px blue;
}

h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    color: WHITE;
    text-shadow: 2px 2px 5px RED;
}

h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    color: WHITE;
    text-shadow: 2px 2px 5px RED;
}

#separador {
    width: 100%; /* coloque aqui a largura da linha */
    border-top: 5px solid #000;
    list-style-type: none;
}

#left {
  float:left;
  width:500px;
}

#right {
  float:right;
  width:500px;
}

.B1{
    
    float:left;
    position: relative;
    left: 5%;
    bottom: -10px;
    border-radius: 10px;
    background-color: 
    height: 20px;
    width: auto;
    display: inline;
    margin-left:5px;
}
.B1:hover { 
background:white;

}

.bold{
    font-family: tahoma;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
    color: #ffffff;
}
#footer{
    clear:both;
	position: relative;
	bottom: -50px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 50px;
	background-color: black;
}